<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/scripts/styles.css">    
    </head>
    <body id="noviUserPredmet">
        <div class="container">
        <div class="login-form">
        <div class="main-div">
            <div class="panel">
           <h2>Prijava</h2>
           <p>Molimo unesite studenta na predmet</p>
           </div>
            <form id="newStudentPredmet" method="POST" action="/users/newUserPredmet">  
                <div>
                    Korisnik ID <br> <input type="text" id="KorisnikId" name="KorisnikId" placeholder="KorisnikId"> <br>
                </div>
                <div>
                    Predmet ID <br> <input type="text" id="PredmetId" name="PredmetId" placeholder="PredmetId" value="<%= predmet ? predmet : '' %>"> <br>
                </div>
                <br>
                <button border-top="10px" type="submit" class="btn btn-primary">Kreiraj</button>
        
            </form>
            </div>
        </div></div></div>
        
        
        </body>

</html>
